version: 2.1
workflows:
  test:
    jobs:
      - test:
          version: "latest"
      - test:
          version: "3.7"
      - test:
          version: "3.8"
jobs:
  test:
    parameters:
      version:
        type: string
        default: latest
    docker:
      - image: circleci/python:<< parameters.version >>
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "setup.cfg" }}
            - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -e .[tests]
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "setup.cfg" }}
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            pytest
